*{
  margin:0px;
}
 
header{
  text-align: center;
  background-color: #111;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: #12232E;
}

h1 {
  font-family: ubuntu, 'Lobster', cursive, Open Sans;
  text-shadow: 5px 0 #2989c088;
  font-size: 6rem;
  color: #68e0e0;
  padding-bottom: 12px;
}

p {
  font-size: 2rem;
  color: #68e0e0;
  margin-bottom: 45px;
  font-family: ubuntu, cursive, Open Sans;
}

img {
  width: 80%;
}

#btn{
  border-radius: 4px;
  background-color: #68e0e0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
#btn:hover{
  opacity: 0.7;
  font-size: 21px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#flag{
  width:78px;
  margin-right: 5px;
}

footer{
  background: #111;
  padding: 20px 23px;
  text-align: center;
  margin-top: 5%;
  color: #68e0e0;
  font-family: ubuntu, cursive, Open Sans;
}

.footer_note{
  color: #68e0e0;
  text-decoration: none;
}

.footer_note:hover{
  color: crimson;
  transition: all 0.4s ease;
}

/* social media buttons editing */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 20px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #d63d9b;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#note_foot{
  margin-bottom: 13px;
  font-size: 25px;
}

